@model List<App.Domain.Core.Entities.Inspection.Appointment>
@using FrameWork
@using App.Domain.Core.Enums


<h2>نوبت‌های در انتظار تایید</h2>

<table class="table">
    <thead>
        <tr>
            <th>خودرو</th>
            <th>تاریخ</th>
            <th>زمان</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
                <tr>
                    <td>@appointment.Car.Model</td>
                    <td>@appointment.Date.ToPersianString()</td>
                    <td>@appointment.Date.TimeOfDay</td>
                    <td>
                    @{
                        string statusText = appointment.Status switch
                        {
                            StatusEnum.Pending => "در انتظار تایید",
                            StatusEnum.Confirmed => "تایید شده",
                            StatusEnum.Rejected => "رد شده"
                        };
                    }
                    @statusText
                    </td>
                    <td>
                            <form asp-action="ConfirmRequest" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@appointment.Id" />
                            <button type="submit" class="btn btn-success">تایید</button>
                        </form>
                            <form asp-action="RejectRequest" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@appointment.Id" />
                            <button type="submit" class="btn btn-danger">رد</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
