@model List<App.Domain.Core.Entities.Vehicle.Car>


<h2>لیست خودروها</h2>

<a asp-action="Create" class="btn btn-success">افزودن خودرو جدید</a>

<table class="table">
    <thead>
        <tr>
            <th>مدل خودرو</th>
            <th>شماره پلاک</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.LicensePlate</td>
                <td>
                    <a asp-action="Details" asp-controller="Car" asp-route-id="@car.Id" class="btn btn-info">جزییات</a>
                    <a asp-action="Edit" asp-controller="Car" asp-route-id="@car.Id" class="btn btn-warning">ویرایش</a>
                    <a asp-action="Delete" asp-controller="Car" asp-route-id="@car.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="UserPanel" asp-controller="User" class="btn btn-secondary">بازگشت</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
